<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uuch.adlibrary">

    <!--新增-->
    <application
        android:name=".LApplication"
        tools:replace="android:allowBackup"
        android:allowBackup="true">

    </application>

</manifest>
